<div>
	<nav-title></nav-title>
	
	<nav-list></nav-list>
		
	<handle-paging></handle-paging>

	<table class="table">
		<thead class="wx-table-thead">
			<tr>
				<th></th>
				<th colspan="7">公告类别详细</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td>类别名称：</td>
				<td colspan="5"><input type="text" class="form-control"></td>
			</tr>
			<tr>
				<td></td>
				<td>类别备注</td>
				<td colspan="5"><input type="text" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="8"> 
					<button class="btn btn-primary">确认提交</button> 
					<button class="btn btn-primary">取消返回</button> 
				</td>
			</tr>
		</tbody>
	</table>
</div>
