<div>
		
	<handle-paging></handle-paging>

	<table class="table table-bordered wx-table-employee">
		<thead class="wx-table-thead">
			<tr>
				<th colspan="7">查看员工信息</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="8">基本信息</td>
			</tr>
			<tr>
				<td>姓名</td>
				<td>性别</td>
				<td>出生年月</td>
				<td>学历</td>
				<td>专业</td>
				<td>工作年限</td>
				<td>政治面貌</td>
				<td rowspan="5">
					<img src="/images/head_pic.png" >
				</td>
			</tr>
			<tr>
				<td>张三三</td>
				<td>女</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>籍贯</td>
				<td colspan="2">手机</td>
				<td colspan="3">邮箱</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2"></td>
				<td colspan="3"></td>
				<td></td>
			</tr>
			<tr>
				<td>家庭住址：</td>
				<td colspan="4"></td>
				<td>邮编：</td>
				<td></td>
			</tr>
			<tr>
				<td>户口所在地：</td>
				<td colspan="4"></td>
				<td>邮编：</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered wx-table-employee">
		<thead>
			<tr>
				<th colspan="8">教育经历</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="2">序号</td>
				<td colspan="2">时间</td>
				<td rowspan="2">学校</td>
				<td rowspan="2">专业</td>
				<td rowspan="2">学历、学委</td>
				<td rowspan="2">备注</td>
			</tr>
			<tr>
				<td>开始时间：</td>
				<td>结束时间：</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered wx-table-employee">
		<thead>
			<tr>
				<th colspan="7">其他经历</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="2">序号</td>
				<td colspan="2">时间</td>
				<td rowspan="2">事项</td>
				<td rowspan="2">描述</td>
				<td rowspan="2">证明材料</td>
				<td rowspan="2">备注</td>
			</tr>
			<tr>
				<td>开始时间</td>
				<td>结束时间</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered wx-table-employee">
		<tbody>
			<tr>
				<td colspan="7">人事部确认</td>
				<td>张三</td>
			</tr>
			<tr>
				<td colspan="7">人事部负责人确认</td>
				<td>李四</td>
			</tr>
			<tr>
				<td colspan="7">填表日期</td>
				<td>2012-03-21</td>
			</tr>
			<tr>
				<td colspan="8"> <button class="btn btn-primary">取消返回</button></td>
			</tr>
		</tbody>
	</table>
</div>
